@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.header{
    color: red;
    background-color: white;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    margin-right: 1px;
    
  }

  marquee {
    font-size: 20px;
    color: red;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 0.3%;
  }

 .side-nav-left {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
}

.side-nav-content {
    z-index: 1002;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: calc(100% - 60px);
    padding: 3px;
    overflow: auto;
    overflow-y: none;
    box-shadow: 0 2px 14px 0 rgba(130, 130, 130, 0.5);
    background: #FFF;
    color: #555555 !important;
}

.backdrop {
    position: fixed !important;
    z-index: 1001;
    height: 100%;
    width: 100%;
}

.mat-drawer {
    box-shadow: unset !important;
}


.tableHeader {
    padding: 2px;
    border: 2px solid blue;
    border-radius: 5px;
}

.tableRows {
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
}


.demo-table {
   
      background-color: aliceblue;
      
  }



.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.mat-row:hover {
    background-color: rgba(235, 13, 13, 0.795);
}

.mat-row:hover {
    background-color: rgba(61, 13, 235, 0.329);
}

.marq{
    background-color: silver;
}