@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.header{
    color: red;
    background-color: white;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    margin-right: 2%;
    border:3px solid orange;
  }

  marquee {
    font-size: 20px;
    color: red;
    font-weight: bolder;
    border-color: blue;
    border-width: 1em;
    background-color: black;
    margin-bottom: 1px;
  }

 


.tableHeader {
    padding: 2px;
    border: 2px solid blue;
    border-radius: 5px;
}

.tableRows {
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
}


.demo-table {
   
      border: 100px;
      border-color: red;
      background-color: aliceblue;
      
  }



.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.mat-row:hover {
    background-color: rgba(235, 13, 13, 0.795);
}

.mat-row:hover {
    background-color: rgba(61, 13, 235, 0.329);
}

.marq{
    background-color: silver;
}