<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div fxLayout="row wrap" >
    <div class="marque" fxFlex = "100%">
        <marquee>{{'HOME.UsersInfo' | translate}}</marquee>
    </div>
    
    <div fxHide fxShow.xs fxFlex.xs="50px">
        <button mat-button (click)="opened = !opened" style="height: 5px;">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</div>

<div fxLayout="row" style="margin-top: 0.5%; width: 100%; height: 100%;">
    <div fxLayout="row wrap" fxShow fxHide.xs
        style="margin-right: 0.5%; margin-top: 0.5%; margin-bottom: 1%; border: 1px solid black;">
        <mat-sidenav-container fxLayoutAlign="center center" style="margin-top:15%;">
            <mat-sidenav mode="side" opened=true>
                    <div style="margin-bottom: 10%;" fxLayoutAlign="center center">
                        <button fxLayoutAlign="center center" mat-fab color="primary" [routerLink]="['clubList']"
                            style="width: 100px">
                            Clubs
                        </button>
                    </div>
                        <button mat-fab color="primary" style="width: 100px" [routerLink]="['footballersList']">
                            Footbalers
                        </button>
            </mat-sidenav>
        </mat-sidenav-container>
    </div>

    <div fxLayout="row wrap" fxHide fxShow.xs style="margin-right: 0.5%; margin-top: 2%;">
        <div>
            <mat-drawer-container>
                <mat-sidenav #sidenav class="side-nav-left"  role="directory" [opened]="opened">
                    <div class="backdrop" (click)="opened = !opened"></div>
                    <div class="side-nav-content">
                        <button mat-fab color="primary" [routerLink]="['clubList']" style="margin-bottom: 50%; width: 100px">
                            Clubs
                        </button>
                        <button mat-fab color="primary" [routerLink]="['footballersList']" style="width: 100px;">
                            Footballers
                        </button>
                    </div>
                </mat-sidenav>
            </mat-drawer-container>
        </div>
    </div>

    <div fxLayout="column wrap" fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxFlexFill>
        <div class="header" fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <div style="border: 1px solid silver;">
                <div fxFlex="100%" fxLayoutAlign="center center" style="color: blue;">
                    <h5 fxLayoutAlign="center start"> {{'HOME.FootbalerTitle' | translate}} </h5>
                </div>
                <div fxLayoutAlign="end center">
                    <button mat-button (click)="addUser()" style="color: blue;"
                        matTooltip="{{ 'HOME.Add' | translate }}">
                        <mat-icon>library_add</mat-icon>
                    </button>
                </div>
            </div>
            <div style="border: 1px solid black">
                <table mat-table [dataSource]="dataSourceBase" matSort multiTemplateDataRows
                    class="mat-elevation-z8 demo-table" fxFlexFill>

                    <!-- Position Column -->
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'HOME.UserName' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{element.userName}}</td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'HOME.Name' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="surname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'HOME.Surname' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{element.surname}}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="password">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'HOME.Password' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{element.password}}</td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'HOME.Role' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{element.role}}</td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>{{'HOME.Actions' | translate}}</th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-button (click)="updateUser(row)" matTooltip="{{ 'HOME.Update' | translate }}">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-button (click)="openDetails(row)" matTooltip="{{ 'HOME.Details' | translate }}">
                                <mat-icon>details</mat-icon>
                            </button>
                            <button mat-button (click)="deleteUser(row)" style="width: 30px;"
                                matTooltip="{{ 'HOME.Delete' | translate }}">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsBase"></tr>
                    <tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)"
                        *matRowDef="let row; columns: displayedColumnsBase;"></tr>
                </table>
                <div>
                    <mat-paginator #paginator [length]="100" showFirstLastButtons="true" [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
                    </mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>