.addUpdateHeader {
    text-align: center;
    font-size: large;
    margin: 5px;
}

.example-container{
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-buttons{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.span {
  margin: auto;
}