<div fxLayout="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="200">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span class="span">{{operationsName}}</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-dialog-content [formGroup]="addUpdateForm" fxLayoutAlign="stretch" fxLayout="column">
            <div class="example-container">
                <mat-form-field [floatLabel]="'auto'">
                    <mat-label>{{'HOME.Name' | translate}}</mat-label>
                    <input matInput formControlName="clubName">
                    <span class="text-danger" *ngIf="clubName && clubName.invalid">
                        {{'HOME.MandatoryField' | translate}}
                    </span>
                </mat-form-field>



                <mat-form-field [floatLabel]="'auto'">
                    <mat-label>{{'HOME.City' | translate}}</mat-label>
                    <input matInput formControlName="city">
                    <span class="text-danger" *ngIf="city && city.invalid">
                        {{'HOME.MandatoryField' | translate}}
                    </span>
                </mat-form-field>



                <mat-form-field [floatLabel]="'auto'">
                    <mat-label>{{'HOME.Budget' | translate}}</mat-label>
                    <input matInput type="number" formControlName="budget">
                    <span class="text-danger" *ngIf="budget && budget.invalid">
                        {{'HOME.MandatoryField' | translate}}
                    </span>
                </mat-form-field>



                <mat-form-field [floatLabel]="'auto'">
                    <mat-label>{{'HOME.Founded' | translate}}</mat-label>
                    <input matInput formControlName="founded">
                    <span class="text-danger" *ngIf="founded && founded.invalid">
                        {{'HOME.MandatoryField' | translate}}
                    </span>
                </mat-form-field>



                <mat-form-field [floatLabel]="'auto'">
                    <mat-label>{{'HOME.Owner' | translate}}</mat-label>
                    <input matInput formControlName="owner">
                    <span class="text-danger" *ngIf="owner && owner.invalid">
                        {{'HOME.MandatoryField' | translate}}
                    </span>
                </mat-form-field>



                <mat-form-field [floatLabel]="'auto'">
                    <mat-label>{{'HOME.PictureUrl' | translate}}</mat-label>
                    <input matInput formControlName="pictureUrl">
                </mat-form-field>
            </div>

            <div class="example-buttons">
                <button mat-button color="primary" (click)="save()">
                    <mat-icon>save</mat-icon> Save
                </button>
                <button mat-button color="primary" (click)="cancel()">
                    <mat-icon>cancel</mat-icon> Cancel
                </button>

            
        </div>
        </mat-dialog-content>
        
    </mat-card>
</div>