<div class="ng-container">
    <div class="card-header">
        Login
    </div>

    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>

    <form [formGroup]="loginForm">
        <div>
            <mat-form-field [floatLabel]="'auto'">
                <mat-label>Username</mat-label>
                <input matInput formControlName="userName">
                <span class="text-danger" *ngIf="userName && userName.invalid">
                    Username is required
                </span>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field [floatLabel]="'auto'">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <span class="text-danger" *ngIf="password && password.invalid">
                    Password is required
                </span>
            </mat-form-field>
        </div>
    </form>

    <h2><button mat-button style="margin-right: 5px;" (click)="ok()">Save</button>
    <button mat-button (click)="cancel()">Cancel</button></h2>

</div>

