@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

.mainTableAndHeaders {
    margin-right: 5px;
    width: 100%;
}

.footballerHeader {
    margin: 20px;
    height: 15%;
    text-align: center;
    font-size: larger;
    font-weight: 100;
}


.tableHeader {
    padding: 2px;
    border: 2px solid blue;
    border-radius: 5px;
}

.tableRows {
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
}


.demo-table {
    width: 100%;


    border: 100px;
    border-color: red;
    background-color: aliceblue;
    justify-content: center;

}

.mat-elevation-z8 {
    width: 70%;
}

.child {


    /* Center horizontally*/
    margin: 0 auto;

}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.mat-row:hover {
    background-color: rgba(235, 13, 13, 0.795);
}

.mat-row:hover {
    background-color: rgba(61, 13, 235, 0.329);
}