<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div fxLayout="row wrap" style="margin-bottom: 2%">

    <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" style="margin-top: 1%; margin-bottom: 1%;" class="demo-table">
        <div fxFlex="100%" fxLayoutAlign="center center">
            <h5 fxLayoutAlign="center start"> {{'HOME.FootbalerTitle' | translate}} </h5>
        </div>

        <div fxLayoutAlign="end center">
            <button [hidden]="isVisibleByRole" mat-button (click)="addFootballer()"
                matTooltip="{{ 'HOME.Add' | translate }}">
                <mat-icon>library_add</mat-icon>
            </button>
        </div>
    </div>

    <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
        <div>
            <marquee >{{'HOME.TableInfo' | translate}}</marquee>
        </div>
        <div fxLayoutAlign="center stretch">
            <table mat-table [dataSource]="dataSourceBase" matSort multiTemplateDataRows
                class="mat-elevation-z8 demo-table">

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'HOME.Name' | translate}}</th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="surname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'HOME.Surname' | translate}}</th>
                    <td mat-cell *matCellDef="let element">{{element.surname}}</td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'HOME.Position' | translate}}</th>
                    <td mat-cell *matCellDef="let element">{{element.position}}</td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'HOME.DateOfBirth' | translate}}</th>
                    <td mat-cell *matCellDef="let element">{{element.dateOfBirth}}</td>
                </ng-container>

                <ng-container matColumnDef="club">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'HOME.Club' | translate}}</th>
                    <td mat-cell *matCellDef="let element">{{element.club !=null ? element.club.clubName : ""}}</td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef [hidden]="isVisibleByRole">{{'HOME.Actions' | translate}}</th>
                    <td mat-cell *matCellDef="let row" [hidden]="isVisibleByRole">
                        <button mat-button [hidden]="isVisibleByRole" (click)="updateFootballer(row)"
                            matTooltip="{{ 'HOME.Update' | translate }}">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button [hidden]="isVisibleByRole" (click)="deleteFootballer(row)"
                            style="width: 30px;" matTooltip="{{ 'HOME.Delete' | translate }}">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsBase.length">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement && canExpand ? 'expanded' : 'collapsed'">
                            <div class="example-element-diagram">

                                <mat-card class="example-card">

                                    <mat-card-title-group>
                                        <img mat-card-lg-image src={{element.pictureUrl}}>
                                        <mat-card-title>{{element.name}} {{element.surname}}</mat-card-title>
                                        <mat-card-subtitle>{{'HOME.DateOfBirth' | translate}}: {{element.dateOfBirth}}
                                        </mat-card-subtitle>
                                        <mat-card-subtitle>{{'HOME.Position' | translate}}: {{element.position}}
                                        </mat-card-subtitle>
                                        <mat-card-subtitle>{{'HOME.Price' | translate}}: {{element.price |
                                            currency:'EUR':'symbol':'1.2-2'}}
                                        </mat-card-subtitle>
                                        <mat-card-subtitle>{{'HOME.Club' | translate}}: {{element.club !=null ?
                                            element.club.clubName : ""}}
                                        </mat-card-subtitle>
                                        <mat-card-subtitle>{{'HOME.Status' | translate}}: {{element.status}}
                                        </mat-card-subtitle>
                                    </mat-card-title-group>
                                    <mat-card-content>

                                        <mat-label>{{'HOME.Rating' | translate}}: <fu-starcomponent
                                                [rating]='element.rating'>
                                            </fu-starcomponent>
                                        </mat-label>
                                    </mat-card-content>
                                </mat-card>
                            </div>

                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsBase"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumnsBase;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
        </div>
        <div fxLayoutAlign="end center" style="margin-top: 0.5%; margin-bottom: 1%;" >
            <mat-paginator #paginator [length]="100" showFirstLastButtons="true" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
    
</div>