<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="footballersMain">
    <div class="mainTableAndHeaders">
        <div class="card-header footballerHeader">
            Footballers <button mat-button  style="float: right;" (click)="addFootballer()" matTooltip="Add new footballer"><mat-icon>person_add</mat-icon></button>
        </div>
        <div class="card-header child mat-elevation-z8" >
        <table mat-table [dataSource]="dataSourceBase" matSort class="demo-table">

            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="">Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
                <td mat-cell *matCellDef="let element">{{element.surname}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
                <td mat-cell *matCellDef="let element">{{element.position}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="dateOfBirth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth</th>
                <td mat-cell *matCellDef="let element">{{element.dateOfBirth}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
                <td mat-cell *matCellDef="let element">
                    <fu-starcomponent [rating]='element.rating'></fu-starcomponent>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                <td mat-cell *matCellDef="let element">{{element.price | currency:'EUR':'symbol':'1.2-2'}}</td>
            </ng-container>

            <ng-container matColumnDef="club">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Club</th>
                <td mat-cell *matCellDef="let element">{{element.club !=null ? element.club.clubName : ""}}</td>
            </ng-container>

            <ng-container matColumnDef="status" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element">{{element.status}}</td>
            </ng-container>



            <!-- Symbol Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-button  (click)="updateFootballer(row)" matTooltip="Update footballer"><mat-icon>edit</mat-icon></button>
                    <button mat-button  (click)="openDetails(row)" matTooltip="Open footballer details"><mat-icon>details</mat-icon></button>
                    <button mat-button  (click)="deleteFootballer(row)" style="width: 30px;" matTooltip="Delete footballer"> <mat-icon>delete</mat-icon></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsBase"></tr>
            <tr mat-row  [class.demo-row-is-clicked]="clickedRows.has(row)"
                *matRowDef="let row; columns: displayedColumnsBase;"></tr>
        </table>
        <mat-paginator #paginator [length]="100" showFirstLastButtons="true"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
      </mat-paginator>
        </div>
    </div>
</div>