@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");



.footballersMain{
    margin-bottom: 70%;
}

.footballerHeader {
    margin-top: 5px;
    margin-bottom: 2%;
    min-height: 15%;
    text-align: center;
    font-size: larger;
    font-weight: 100;
}


.tableHeader {
    padding: 2px;
    border: 2px solid blue;
    border-radius: 5px;
}

.tableRows {
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
}


.demo-table {
    border: 100px;
    border-color: red;
    background-color: aliceblue;
    justify-content: center;

}

.mat-elevation-z8 {
    width: 70%;
}

.child {


    /* Center horizontally*/
    margin: 0 auto;

}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.mat-row:hover {
    background-color: rgba(235, 13, 13, 0.795);
}

.mat-row:hover {
    background-color: rgba(61, 13, 235, 0.329);
}


table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
   
  }
  
  .example-card {
    max-width: 400px;
    margin-bottom: 8px;
    
  }

  .example-card-image {
    margin: 0;
    height: 100%;
    width: 100%;
  }

  .detailsText{
    margin-left: 40%;     
}



.paginator{
  margin-bottom: 500px;
  margin-top: 500px;
}

