nav ul{
    list-style-type: none;
    text-align: left;
}
nav ul li{
    display: inline-block;
    margin-right: 5px;
}

.mainDiv{
    background-color: rgba(128, 128, 128, 0.39);
}

.span {
    margin: auto;
}

.Footer{
    background-color: aliceblue;
}

.header{
    color: blue;
    background-color: black;
}

.routerDiv{
    background-color:white;
}

.body{
    color: red;
}



  
