

.welcomeHeader{
    text-align: center;
}

nav ul{
    list-style-type: none;
    text-align: left;
}
nav ul li{
    display: inline-block;
    margin-right: 5px;
}


.glavni{
    background-color: white;
    height: 5%;
}

.span {
    margin: auto;
}

.Footer{
   
    background-color: aliceblue;
}


  
