<div class="card-header glavni">

     
   
      <ul>
        <button mat-button matTooltip="Login" *ngIf="showSignIn" (click)="logIn()" style="float: right"><mat-icon>dashboard</mat-icon></button>
        <button mat-button matTooltip="LogOut" *ngIf="showLogOut" (click)="logout()" style="float: right"><mat-icon>dashboard</mat-icon></button>
        <button mat-button matTooltip="Settings"  (click)="openSettings()" style="float: right"><mat-icon>settings</mat-icon></button>
      </ul>

<div>
  <mat-label>loged in user : {{user}}</mat-label>
</div>
     
</div>


<div>
  <router-outlet></router-outlet>
</div>


<div class="Footer">Footballer application</div>