.mainDiv{
    display:flex;
    flex-direction: row;
    border: 2px solid black;
    width: 100%;
    height: 90%;
}

.leftDiv{
    border: 2px solid red;
   
    width: 10%;
    display:flex;
    flex-direction: column;
    margin-right: 1%;
    margin-top: 1%;
    text-align: start;
    background-color: silver;
}

.rightDiv{
    border: 2px solid green;
    padding: 5px;
    width: 100%;
    margin-top: 1%;
    margin-right: 1%;
    display:flex;
    flex-direction: column;
    
}

.mat-card-content{
    display:flex;
    flex-direction: column;
}

.matCard{
    margin: 1%;
    width: 25%;
}

.addButton{
    text-align: end;
}

.mat-icon{
   
    margin-right: 1px;
    
}
.mat-button{
    
    color: blue;
}

.leftPlayer{
    text-align: start;
    color: blue;
    border: 1px solid black;
}

.leftPlayer.label{
    text-align: center;
    color: red;
}

.leftDivHeader{
    border: 1px solid black;
    background-color: orange;
    color: blue;
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.header{
    background-color: orange;
    border: 1px solid black;
    height: 5%;
    text-align: center;
}