<div class="mainDiv">
    <div class="leftDiv">

        <div class="leftDivHeader">

            <ion-header>
                Add player
            </ion-header>
        </div>

        <div class="leftConten">
            <ion-button mat-button (click)="addNewPlayer()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
            <ion-label>
                Player
            </ion-label>
        </div>
    </div>

    <div class="rightDiv">
        <div class="header">
            <ion-header>
                Igra
            </ion-header>
        </div>
        <div class="test" fxLayout="row wrap">
            <div class="matCard" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="40%" fxFlex.md="40%"
                *ngFor="let element of Playersmodel">
                <ion-card>
                    <ion-card-header>
                        <div class="cardHeader">
                            <ion-img src={{element.pictureUrl}}></ion-img>
                            <ion-card-title>{{element.name}} {{element.surname}}</ion-card-title>
                            <ion-card-subtitle>1</ion-card-subtitle>
                        </div>
                    </ion-card-header>

                    <ion-card-content [formGroup]="payerForm">
                        <div>
                            <ion-label>Bodova: {{element.points}}
                            </ion-label>
                        </div>
                        <div>
                            <input type="number" formControlName="points" style="width: 25%;" required>
                        </div>
                    </ion-card-content>
                    <div class="addButton">
                        <ion-button color="primary" mat-button (click)="Addpoints(element)">
                            <ion-icon name="add-outline"></ion-icon>
                        </ion-button>
                    </div>
                </ion-card>
            </div>
        </div>
    </div>
</div>