
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

.detailsHeader{
    width: 100%;
    font-size: large;
    height: 10%;

    border-color: brown;
    border-width: 50%;
}