.addUpdateHeader {
    text-align: center;
    font-size: large;
    margin: 5px;

}

.main-div mat-card{
    padding: 0px;
}

.login{
 padding: 20px;   
}

.span {
    margin: auto;
}

.comboBox {
    width: 40%;
}