


  
  <body>
      
     
       


    <figure class="container">
      <img width="300px" height="200px" src="https://img.asmedia.epimg.net/resizer/jXBtNEtn9wP_nRy9I3S10kYeK-M=/360x203/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/5AIR4UFTGNHZZD56EJOFJYA5RM.jpg" alt="sample89" />
      <figcaption>
        <h3>{{'HOME.FootbalerTitle' | translate}}</h3>
      </figcaption>
      <a [routerLink]="['footballersList']"></a>
    </figure>
    <figure class="container">
      <img width="300px" height="200px" src="https://icons.iconarchive.com/icons/giannis-zographos/english-football-club/icons-390.jpg" alt="sample94" />
      <figcaption>
        <h3>{{'HOME.Clubs' | translate}}</h3>
      </figcaption>
      <a [routerLink]="['clubList']"></a>
    </figure>

    <figure class="container" [hidden]="isVisibleByRole">
        <img width="300px" height="200px"  src="https://static.vecteezy.com/system/resources/previews/000/439/863/non_2x/vector-users-icon.jpg" alt="sample94" />
        <figcaption>
          <h3>{{'HOME.Users' | translate}}</h3>
        </figcaption>
        <a [routerLink]="['users']"></a>
      </figure>
      

  </body>