/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css"; 
@import "~font-awesome/css/font-awesome.min.css"; 



   

.Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    border-color: aqua;
    font-size: large;
     
 }
  
.footer {
position: fixed;
bottom: 0;
width: 100%;
}












.addOrUpdate{

 padding: 10px;
    
    border-radius: 20px;
    width: 30%;
    margin-left: 35%;
    margin-top: 5px;
   
}

.mandatoryField{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    position: relative;
    margin-left: 160px;
}





.detailsBorder{
    border-color: brown;
    border-width: 50%;
}

.footbalers{
    height: 5%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
