@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";


.clubHeader {
    margin-top: 5px;
    margin-bottom: 2%;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: 100;
}




.demo-table {
    width: 100%;
    border: 100px;
    border-color: red;
    background-color: aliceblue;
    justify-content: center;
   
}

.mat-elevation-z8 {
    width: 70%;
    margin: 0 auto;
}



.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.mat-row:hover {
    background-color: rgba(235, 13, 13, 0.795);
}

.mat-row:hover {
    background-color: rgba(61, 13, 235, 0.329);
}


table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  

   
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  
  .example-card {
    max-width: 400px;
    margin-bottom: 8px;
  }

  .example-card-image {
    margin: 0;
    height: 100%;
  }