@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";


.clubMain {
    flex-wrap: wrap;
    display: flex;
    margin: 10px;
}

.mainTableAndHeaders {
    margin-right: 5px;
    width: 100%;
}

.clubHeader {
    margin-bottom: 20px;
    height: 15%;
    text-align: center;
    font-size: larger;
    font-weight: 100;
}

.tableHeader {
    padding: 2px;
    border: 2px solid blue;
    border-radius: 5px;
}

.tableRows {
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
}