

<div class="card-header addUpdateHeader">
    {{operationsName}}
</div>

<form [formGroup]="addUpdateForm">
    <div>
        <mat-form-field [floatLabel]="'auto'">
            <mat-label>{{'HOME.Name' | translate}}</mat-label>
            <input matInput formControlName="name">
            <span class="text-danger" *ngIf="name && name.invalid">
                {{'HOME.MandatoryField' | translate}}
            </span>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field [floatLabel]="'auto'">
            <mat-label>{{'HOME.Surname' | translate}}</mat-label>
            <input matInput formControlName="surname">
            <span class="text-danger" *ngIf="surname && surname.invalid">
                {{'HOME.MandatoryField' | translate}}
            </span>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field [floatLabel]="'auto'">
            <mat-label>{{'HOME.UserName' | translate}}</mat-label>
            <input matInput  formControlName="userName">
            <span class="text-danger" *ngIf="userName && userName.invalid">
                {{'HOME.MandatoryField' | translate}}
            </span>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field [floatLabel]="'auto'">
            <mat-label>{{'HOME.Password' | translate}}</mat-label>
            <input matInput  formControlName="password">
            <span class="text-danger" *ngIf="password && password.invalid">
                {{'HOME.MandatoryField' | translate}}
            </span>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field [floatLabel]="'auto'">
            <mat-label>{{'HOME.Role' | translate}}</mat-label>
            <input matInput  formControlName="role">
            <span class="text-danger" *ngIf="role && role.invalid">
                {{'HOME.MandatoryField' | translate}}
            </span>
        </mat-form-field>
    </div>

   
</form>

<h2 style="text-align:center;"><button mat-fab color="primary" style="width:100px; margin-right:10px"
    (click)='save()'>
    <mat-icon>thumb_up</mat-icon>
    
    Ok</button> <button mat-fab color="warn" style="width:100px;"
    (click)="cancel()"><mat-icon>cancel</mat-icon>{{'HOME.Cancel' | translate}}</button></h2>
