.addUpdateHeader {
    text-align: center;
    font-size: large;
    margin: 5px;
}

.rounded{
    border-radius:50px;
   
    height: 40px;
    text-align: center;
  }


  input:invalid:required {
    border-color: red;
    border-width: 3px;
    border-radius:100px;
  }